<div class="container m-2">

    <h3>Registro de Usuario</h3>

    <div class="form-group">
        <label for="txtemail">Email</label>
        <input type="text" id="txtemail" #txtemail class="form-control">
    </div>

    <div class="form-group">
        <label for="txtpwd">Password</label>
        <input type="password" id="txtpwd" #txtpwd class="form-control">
    </div>

    <div class="form-group">
        <button (click)="registrar()" class="btn btn-info btn-block">Registrar</button>
    </div>



</div>